.footer-list{
    padding: 5px;
    border-bottom: 1px dotted gray;
    margin-bottom: 5px;
    
}
.footer-list Link{
    color: #cccccc;
}
.footer-link{
    color: #cccccc;
    text-decoration: none;
}
.footer-link:hover{
    text-decoration: none;
    color: #ffc61a;
}