.theme{
    padding: 5px;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    
}
.theme img{
   height: 40px;

}

@media (max-width: 590px) {
    .theme{
        width: 80px;
        height: 80px;
        
    }
    .theme img{
        height: 30px;
    }
}